/* header {
    width: 100%;
    color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: PowderBlue;

}

h1 {
	text-align: center;
	color: black;
	font-size: 3em;
}

h2 {
	text-align: left;
	color: black;
	font-size: 1em;
}

h3 {
	text-align: left;
	color: black;
	font-size: 1em;
} */