<div class="container">
    <br>
    <h3>Owner Dashboard</h3>
    <br>
    <h5>Add Owner</h5>
</div>
<br>
<div class="container">
    <form>
        <input type="text" placeholder="First Name" ng-model="vm.firstNameIn">
        <input type="text" placeholder="Last Name" ng-model="vm.lastNameIn">
        <input class="btn btn-light" type="submit" ng-click="vm.postOwner()">
    </form>
    <br>
    <h5>History</h5>

    <table class="table">
        <th>Name</th>
        <th>Number of Pets</th>
        <th>Actions</th>
        <tbody>
            <tr ng-repeat="owner in vm.owners">
                <td>{{owner.first_name}}</td>
                <td>{{owner.count}}</td>
                <td>
                    <button type="button" class="btn btn-light" ng-click="vm.deleteOwner(owner)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>