<h1>pet dashboard</h1>

<h2>Add Pet</h2>
<form>
    <input type="text" placeholder="Pet Name" ng-model="vm.petNameIn">
    <input type="text" placeholder="Pet Color" ng-model="vm.colorIn">
    <input type="text" placeholder="Pet Breed" ng-model="vm.breedIn">
    <select ng-model="vm.ownerNameIn">
        <span ng-repeat="owner in vm.owners"><option value="{{owner.first_name}} {{owner.last_name}}">{{owner}}</option></span>
    <input type="submit" ng-click="vm.addPet()"> 
</form>


<h2>History</h2>

<table>
    <th>Owner</th>
    <th>Pet</th>
    <th>Breed</th>
    <th>Color</th>
    <th>Checked in</th>
    <th>Actions</th>
    <tbody>
        <tr ng-repeat="pet in vm.pets"> 
            <td>{{pet.first_name}} {{pet.last_name}}</td>
            <td>{{pet.pet_name}}</td>
            <td>{{pet.color}}</td>
            <td>{{pet.breed}}</td>
            <td>{{pet.is_checked_in}}</td>
        </tr>
    </tbody>
</table>
