<div class="container">
    <br>
    <h3>Pet Dashboard</h3>
    <br>
    <h5>Add Pet</h5>
</div>
<br>
<div class="container">
    <form>
        <input type="text" placeholder="Pet Name" ng-model="vm.petNameIn">
        <input type="text" placeholder="Pet Color" ng-model="vm.colorIn">
        <input type="text" placeholder="Pet Breed" ng-model="vm.breedIn">
        <select ng-model="vm.ownerNameIn">
            <option ng-repeat="owner in vm.owners" value="{{owner.id}}">{{owner.first_name}}</option>
        </select>
        <input class="btn btn-light" type="submit" ng-click="vm.postPet()">
    </form>
    <br>

    <h5>History</h5>

    <table class="table">
        <th>Owner</th>
        <th>Pet</th>
        <th>Breed</th>
        <th>Color</th>
        <th>Checked in</th>
        <th>Actions</th>
        <tbody>
            <tr ng-repeat="pet in vm.pets">
                <td>{{pet.first_name}}</td>
                <td>{{pet.pet_name}}</td>
                <td>{{pet.color}}</td>
                <td>{{pet.breed}}</td>
                <td>{{pet.is_checked_in | date: 'MM/dd/yyyy' }}</td>
                <td>
                    <button type="button" class="btn btn-light" ng-click="vm.putPet(pet)">check-in</button>
                    <button type="button" class="btn btn-light" ng-click="vm.deletePet(pet)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>